<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" align="center" style="background-color: rgba(229,229,229,0.7);">
    
    <h1>HOŞGELDİNİZ</h1><br>

    <h1>CENAP AKŞAHİN</h1>
    <p> Burası web saydasının açılış sayfası</p>
    <br>
    <p> ilerlemek için lütfen <%=link_to "Ana Sayfa", posts_path %> tıklayınız.!</p>
    <div class="col-sm-4"></div>
    </div>
  </div>
</div>
